* {
    font-family: sans-serif;
    text-decoration: none;
}

a {
    display: block;
}

.sec-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#main_div1>h1 {
    font-size: 36px;
}

#main_div1>a {
    font-size: 24px;
}