* {
    font-family: sans-serif;
    text-decoration: none;
}

a {
    display: block;
}

.sec-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}