body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator {
    width: 300px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-shadow: 0px 0px 15px rgb(201, 193, 193);
    border-radius: 10px;
  }
  
  #display {
    width: 93%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d9d9d9;
  }
  
  button:hover {
    background-color: #bfbfbf;
  }
  
  .operator {
    background-color: #4d2ee9;
    color: #fff;
  }
  